---
layout: default
---

    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center">
      <div class="col-md-5 p-lg-5 mx-auto my-5">
	      <h1 class="display-4 font-weight-normal">{{ site.title }}</h1>
	      <p class="lead font-weight-normal"> {{ site.subtitle }} </p>
        <!-- <a class="btn btn-outline-secondary" href="#">Coming soon</a> -->
      </div>
    </div>

<!-- Old Jumbotron implementation -->
<!-- <div class="jumbotron"> -->
    <!-- <h1 class="display-4">{{ site.title }}</h1> -->
    <!-- <p class="lead">{{ site.subtitle }}</p> -->
<!-- </div> -->

<div class="home">
  {%- if site.title -%}
    <h1>{{ site.title }}</h1>
  {%- endif -%}

  {{ content }}

</div>
